{
  "cli": {
    "version": ">= 20.1.0",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal",
      "credentialsSource": "local"
    },
    "preview": {
      "distribution": "internal",
      "credentialsSource": "local",
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_API_BASE_URL": "https://usuarios.youconnext.es",
        "EXPO_PUBLIC_TRAYECTOS_API_URL": "https://travels.youconnext.es",
        "EXPO_PUBLIC_MESSAGES_API_URL": "https://messages.youconnext.es",
        "EXPO_PUBLIC_NOTIFICATIONS_API_URL": "https://notifications.youconnext.es",
        "EXPO_PUBLIC_TRACKING_API_URL": "https://tracking.youconnext.es",

        "EXPO_PUBLIC_GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY",
        "EXPO_GOOGLE_OAUTH": "YOUR_GOOGLE_OAUTH_CLIENT_SECRET",
        "EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID": "YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com",
        "EXPO_PUBLIC_RECOMMENDED_PRICE_PER_KM": "0.06",
        "EXPO_PUBLIC_MIN_PRICE_PER_KM": "0.06",
        "EXPO_PUBLIC_MAX_PRICE_PER_KM": "0.08"
      }
    },
    "production": {
      "autoIncrement": true,
      "credentialsSource": "local",
      "env": {
        "EXPO_PUBLIC_API_BASE_URL": "https://usuarios.youconnext.es",
        "EXPO_PUBLIC_TRAYECTOS_API_URL": "https://travels.youconnext.es",
        "EXPO_PUBLIC_MESSAGES_API_URL": "https://messages.youconnext.es",
        "EXPO_PUBLIC_NOTIFICATIONS_API_URL": "https://notifications.youconnext.es",
        "EXPO_PUBLIC_TRACKING_API_URL": "https://tracking.youconnext.es",
        "EXPO_PUBLIC_GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY",
        "EXPO_GOOGLE_OAUTH": "YOUR_GOOGLE_OAUTH_CLIENT_SECRET",
        "EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID": "YOUR_GOOGLE_WEB_CLIENT_ID.apps.googleusercontent.com",
        "EXPO_PUBLIC_RECOMMENDED_PRICE_PER_KM": "0.06",
        "EXPO_PUBLIC_MIN_PRICE_PER_KM": "0.06",
        "EXPO_PUBLIC_MAX_PRICE_PER_KM": "0.08"
      }
    }
  },
  "submit": {
    "production": {}
  }
}
